<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sneakers</title>
    <link rel="stylesheet" href="../../scss/components/article-zapatillas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <article class="article-sneakers-container">
        <div class="sneakers-img-container">
            <img src="../images/Zapatilla1.png" alt="">
        </div>
        <div class="sneakers-content">
            <h2 class="sneakers-name">Zapatilla Nike <span>Sport Running</span></h2>
            <div class="sneakers-info-container">
                <p class="sneakers-price">$20,35</p>
                <a href="">AGREGAR</a>
            </div>
        </div>
    </article>
</body>
</html>