<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../css/application.css">
		<title>Join Us</title>
	</head>
	<body>
		<div class="container">
			<div class="join-us">
				<div class="join-us-left">
					<div class="top-box">	
						<div class="join-box">
							<div class="image">
								<img src="../images/running.png">
							</div>
							<div class="text">Nike<br>Sporting<br>Running</div>
							<div class="text-discount">35%<br>Off</div>
						</div>
					</div>
					<div class="bottom-box">	
						<div class="join-box">
							<div class="image">
								<img src="../images/sneakers-1.png">
							</div>
							<div class="text size position">Nike<br>Classic</div>
							<div class="text-discount">35%<br>Off</div>
						</div>
						<div class="wrap">	
							<div class="join-box">
								<div class="image">
									<img src="../images/sneakers-2.png">
								</div>
								<div class="text size position">Nike<br>Clothes</div>
								<div class="text-discount position-top">35%<br>Off</div>
							</div>
							<div class="join-box">
								<div class="image">
									<img src="../images/sneakers-3.png">
								</div>
								<div class="text size position">Nike<br>Training</div>
								<div class="text-discount">35%<br>Off</div>
							</div>
						</div>
					</div> <!--BOTTOM BOX-->
				</div> <!--JOIN US LEFT-->
				<div class="join-us-right">
					<div class="join-box-right">
						<div class="image">
							<img src="../images/sneakers-4.png">
						</div>
						<div class="text-join" data-text="Unite">Unite</div>
					</div>
				</div> <!--JOIN US RIGHT-->
			</div> <!--JOIN US-->
		</div> <!-- CONTAINER -->
	</body>
</html>