@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/fontsfree-net-proxima-nova-sbold-webfont.woff2")
      format("woff2"),
    url("fonts/fontsfree-net-proxima-nova-sbold-webfont.woff") format("woff"),
    url("fonts/fontsfree-net-proxima_nova_cond_bold-webfont-webfont.woff2")
      format("woff2"),
    url("fonts/fontsfree-net-proxima_nova_cond_bold-webfont-webfont.woff")
      format("woff"),
    url("fonts/fontsfree-net-proxima-nova-cond-bold-webfont.woff2")
      format("woff2"),
    url("fonts/fontsfree-net-proxima-nova-cond-bold-webfont.woff")
      format("woff"),
    url("fonts/fontsfree-net-proxima-nova-cond-black-webfont.woff2")
      format("woff2"),
    url("fonts/fontsfree-net-proxima-nova-cond-black-webfont.woff")
      format("woff"),
    url("fonts/fontsfree-net-proxima-nova-black-webfont.woff2") format("woff2"),
    url("fonts/fontsfree-net-proxima-nova-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
