// COLORS
$white: #ffffff;
$black: #262626;
$orange: #ee7f33;
$orange-dark: #ff770a;
$gray: #ebebeb;
$gray-light: #d9d9d9;

// FONTS
$font-family-roboto: "Roboto", sans-serif;
$font-family-arial: Arial, Helvetica, sans-serif;
$font-family-proximaNova: "Proxima Nova", sans-serif;
